


 
#plate{
    left:0%;
    bottom:30px;
    position:relative; 
    filter: opacity(100%);
    height:300px;
}
  #taco
  { 
    left:0%;
    bottom:30px;
    position:relative; 
    filter: opacity(0%);
    height:300px;

  } 
 
  #taco:hover
  {
      filter: opacity(100%);
      transition: 2s ease-in;
  } 
 





#temp{
     color: #515151;
     text-align: center;
     display: flex;
     grid-template-columns:repeat(3, 3fr);
     position: absolute;;
     left:45%; 
     bottom:0px;
     height:37px;
  
}
.mediapic{
    
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
} 

#pic1{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition:all 3s ease;
      }
    
    #pic1:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 3s ease;
    }

    #pic2:hover{
        filter: opacity(0%);
        transition: 3s ease-out;
    }
    
  



    #footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:20px;
   width:100%;
   
   background-color: #F8E0E6;
      }


    p {
    border-bottom:1px #b92baa;
    padding-bottom:15px;
    font-size:57px
    } 
 
    #slider {
    width:800px;
    top:120px;
    position: fixed; 
    display:initial;
    } 

    #header {
    width:260px;
    height:260px;
    position:absolute;
    right:0;
    border:1px solid #b92baa;
    margin-left:40px;
    padding:1em 40px;
    border-radius:3px;
    box-shadow:0 0 4px rgb(226, 108, 255);
  
    }
 
 #sidebar {
    position:absolute;
    top:100px;
    left:360px;
     display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);  
    }   
#sidebar1 {
    position:absolute;
    top:100px;
    left:360px;
    display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px);  
    } 

     h4 {
    font-size:14px;
    font-family:'Roboto Slab',serif
}

    h3 {
    font-family:'Barlow Semi Condensed',serif
    }

    h1 {
        font-family:'Barlow Semi Condensed',serif
        }
    p { font-family:'Barlow Semi Condensed',serif
            }
 
    input[type=text] {
    margin-top:10px;
    padding:10px;
    width:100%;
    font-size:15px;
    border-radius:2px;
    border:1px solid #b92baa;
    font-family:'Roboto Slab',serif

    }


    input[type=email] {
        margin-top:1em;
        padding:0.7em;
        width:100%;
        font-size:15px;
        border-radius:2px;
        border:1px solid #b92baa;
        font-family:'Roboto Slab',serif
    
        }


    input[type=message] {
        margin-top:10px;
        padding:10px;
        width:100%;
        font-size:15px;
        border-radius:2px;
        border:1px solid #b92baa;
        font-family:'Roboto Slab',serif
    
        }


    #title {
    position:absolute;
    top:500px;
    left:650px
    }
    select {
    padding:6px;
    width:100%;
    font-size:15px;
    border-radius:2px;
    border:3px solid #33ba79
    }
    textarea {
    padding:10px;
    font-size:15px;
    border-radius:2px;
    border:1px solid #b92baa;
    margin-top:10px;
    height:80px;
    width:100%;
    font-family:'Roboto Slab',serif

    }
    button {
    background:#9f0f85;
    border:3px;
    color:rgb(255, 255, 255);
    width:110%;
    font-size:17px;
    padding:4px;
    border-radius:5px;
    cursor:pointer;
    margin-top: 15px;     
    margin:center;
}
    #email {
        padding:6px;
        font-size:15px;
        border-radius:2px;
        border:1px solid #b92baa;
        margin-top:10px;
        height:80px;
        width:100%
        }