

* {
	font-family: 'Barlow Semi Condensed', sans-serif;
}

h3 {
  font-size: calc(0.8em + 0.6vw) !important; 

}

h1 {
    font-size: calc(1.1em + 0.7vw) !important; 

}

h2 {
    font-size: calc(0.9em + 0.9vw) !important;

} 


p { 
 font-size: calc(0.6em + 0.6vw) !important;
 margin-block-end: 10vh;
  padding-right: 15vh;
 padding-left: 15vh;
 padding-bottom: 2vh;
 padding-top: 2vh;
    overflow-wrap: break-word;

} 

a {
text-decoration: none;
	
}
 .link {
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, rgb(159, 255, 250), rgb(59, 151, 159) 50%, rgb(0, 0, 0) 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.9s ease;
 }
  .link:hover {
    background-position: 0 100%;
  }


/* ////////  contact form  ///////// */
 
    
  #contactme{
  position: absolute;
  height: 160px;
  width: 250px;
  left: 29%;
  top:88%;
  background: rgb(159,193,199);
  border-radius: 125px 125px 0 0;
  transition: 2s;
  }
    
    #contactme:hover {
    position: absolute;
    transition: 2s;
    height: 160px;
    width: 250px;
    left: 29%;
    top:81%;
    background: rgb(192,193,199);
    border-radius: 125px 125px 0 0;
   }



   @media only screen and (max-height:1400px) {
    
    #contactme{
    position: absolute;
    height: 160px;
    width: 250px;
    left: 40%;
    top:94%;
    background: rgb(159,193,199);
    border-radius: 125px 125px 0 0;
    transition: 2s;
    }
      
      #contactme:hover {
      position: absolute;
      transition: 2s;
      height: 160px;
      width: 250px;
      left: 40%;
      top:91%;
      background: rgb(192,193,199);
      border-radius: 125px 125px 0 0;
     }
     }


     @media only screen and (max-height:1050px) {
    
      #contactme{
      position: absolute;
      height: 160px;
      width: 250px;
      left: 38%;
      top:92%;
      background: rgb(159,193,199);
      border-radius: 125px 125px 0 0;
      transition: 2s;
      }
        
        #contactme:hover {
        position: absolute;
        transition: 2s;
        height: 160px;
        width: 250px;
        left: 38%;
        top:89%;
        background: rgb(192,193,199);
        border-radius: 125px 125px 0 0;
       }
       }
    



       @media only screen and (max-height:900px) {
    
        #contactme{
        position: absolute;
        height: 160px;
        width: 250px;
        left: 35%;
        top:90%;
        background: rgb(159,193,199);
        border-radius: 125px 125px 0 0;
        transition: 2s;
        }
          
          #contactme:hover {
          position: absolute;
          transition: 2s;
          height: 160px;
          width: 250px;
          left: 35%;
          top:87%;
          background: rgb(192,193,199);
          border-radius: 125px 125px 0 0;
         }
         }
      
         @media only screen and (max-height:750px) {
    
          #contactme{
          position: absolute;
          height: 160px;
          width: 250px;
          left: 34%;
          top:90%;
          background: rgb(159,193,199);
          border-radius: 125px 125px 0 0;
          transition: 2s;
          }
            
            #contactme:hover {
            position: absolute;
            transition: 2s;
            height: 160px;
            width: 250px;
            left: 34%;
            top:86%;
            background: rgb(192,193,199);
            border-radius: 125px 125px 0 0;
           }
           }


           @media only screen and (max-height:670px) {
    
            #contactme{
            position: absolute;
            height: 160px;
            width: 250px;
            left: 32%;
            top:88%;
            background: rgb(159,193,199);
            border-radius: 125px 125px 0 0;
            transition: 2s;
            }
              
              #contactme:hover {
              position: absolute;
              transition: 2s;
              height: 160px;
              width: 250px;
              left: 32%;
              top:84%;
              background: rgb(192,193,199);
              border-radius: 125px 125px 0 0;
             }
             }


             @media only screen and (max-height:570px) {
    
              #contactme{
              position: absolute;
              height: 160px;
              width: 250px;
              left: 29%;
              top:86%;
              background: rgb(159,193,199);
              border-radius: 125px 125px 0 0;
              transition: 2s;
              }
                
                #contactme:hover {
                position: absolute;
                transition: 2s;
                height: 160px;
                width: 250px;
                left: 29%;
                top:82%;
                background: rgb(192,193,199);
                border-radius: 125px 125px 0 0;
               }
               }

/* ///////////////// */

p {
display: inline-block;
max-width: 80%;

}

.carousel-inner
{
  height: 60vh;
  width: 10vh;
  justify-content: center !important;  
  text-align: center !important;
  border-radius: 4vh;
  /* margin: auto;
  padding: auto; */


}

 .carousel-indicators {
   top: 110% !important;
   justify-content: center !important;  
}

.col intro-col3{
   justify-content: center !important;
    text-align: center !important; 
   resize: both;
}

 #body	{
  animation: all 1s ease !important;
  justify-content: center !important;
  display: flex;  
} 

.page-section {
  position: fixed;
  display: flex;
  width: 100vh; 
  height: 100vh;
  animation: all 1s ease;
  flex-direction: column-reverse;
  justify-content: center !important;}


  .col{
    
    justify-content: center !important; 
    text-align: center !important; 
   font-size: calc(0.7em + 0.6vw) !important; 
  }

  /* .col a {
    text-decoration: none;
  }
  
  .col a:hover {
    text-decoration:wavy;
  }  */

  

.hidden {
	display: none;
	-webkit-animation: fadeOut 1s /* Safari 4+ */;
  -moz-animation:    fadeOut 1s /* Fx 5+ */;
  -o-animation:      fadeOut 1s /* Opera 12+ */;
  animation:         fadeOut 1s /* IE 10+, Fx 29+ */;
}

.shown {
 	/* display: initial;  */
	-webkit-animation: fadeIn 1s /* Safari 4+ */;
  -moz-animation:    fadeIn 1s /* Fx 5+ */;
  -o-animation:      fadeIn 1s /* Opera 12+ */;
  animation:         fadeIn 1s /* IE 10+, Fx 29+ */;
}


#col8{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50%;
    display: table-cell;
    vertical-align: middle;
   font-size: calc(0.9em + 0.6vw) !important;

}




#contact:hover {
  -webkit-text-fill-color: rgb(237, 38, 255);
}

/* give me rec. project */
.taco{
  background: url(../img/taco.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30vh;
  height: 30vh;  
  filter: grayscale(100%);
  transition:all 2s ease;
  margin-bottom: 5vh;

}

.taco:hover{
  filter: grayscale(0%);
}


/* robo friends project */
.robo{
  background: url(../img/robo.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30vh;
  height: 30vh;  
  filter: grayscale(100%);
  transition:all 2s ease;
  margin-bottom: 5vh;
}

.robo:hover{
  filter: grayscale(0%);
}



/* tofo project */

.todo{
  background: url(../img/todo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30vh;
  height: 30vh;  
  filter: grayscale(100%);
  transition:all 2s ease;
  margin-bottom: 5vh;

}

.todo:hover{
  filter: grayscale(0%);
}



/* stickmen project */

#stick{
  background: url(../img/stick.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30vh;
  height: 30vh;  
  /* margin-left: 5vh; */
  filter: opacity(100%);
  transition: 2s ease-out; 
  margin-bottom: 5vh;

}

#stick:hover{
  filter: opacity(0%);

}

.europa{
  background: url(../img/europa.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30vh;
  height: 30vh;  
  filter: grayscale(100%);
  transition: 2s ease-out;
  margin-bottom: 5vh;
}

.europa:hover{
  filter: grayscale(0%);

}


.ux{
  background: url(../img/UX.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30vh;
  height: 30vh;  
  filter: grayscale(100%);
  transition: 2s ease-out;
  margin-bottom: 5vh;
}

.ux:hover{
  filter: grayscale(0%);

}




.wwt{
  background: url(../img/wwt.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30vh;
  height: 30vh;  
  filter: grayscale(80%);
  transition: 2s ease-out;
  margin-bottom: 5vh;
}

.wwt:hover{
  filter: grayscale(0%);

}







/* the plate on last page */
 
 .technologies {
  background: url(../img/pot.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 50vh;
  height: 50vh;  
  justify-content: center; 
  display: flex;  
  margin-left: 25vh;

}; 

/* icons on the plate  */

 .object1 {
  top:40%;
  position: relative;
  width: 7vh;
  height: 7vh;

} 


 .object2 {
  top:40%;
  position: relative;
  width: 7vh;
  height: 7vh;

} 

.object3 {
  position:relative;
  top:52%;
  bottom: -6vh;
  right: -6vh;
  width: 7vh;
  height: 7vh;
  

}

.object4 {  
  top:52%;
  position:relative;
  bottom: -6vh;
  left: -6vh;
  width: 7vh;
  height: 7vh;
  
}

.object {
  top:25%;
  position: relative;;
  bottom: 6vh;
  width: 7vh;
  height: 7vh;
    }




#arrow {
  width:40px;
  margin-top:25px;
  position: relative;
  -webkit-animation: upDown 2s infinite /* Safari 4+ */;
  -moz-animation:    upDown 2s infinite /* Fx 5+ */;
  -o-animation:      upDown 2s infinite /* Opera 12+ */;
  animation:         upDown 2s infinite /* IE 10+, Fx 29+ */;
}




#figma{
  position: relative;
  margin-top: 2vh;
  margin-bottom: 2vh; 
  transition: transform .5s; 
  margin-right: 1vh;

 }

#figma:hover{
  transform: scale(1.1);
 }




 #github{
  position: relative;
  margin-top: 2vh;
  margin-bottom: 2vh; 
  transition: transform .5s; 
  margin-right: 1vh;
 }
 
#github:hover{
  transform: scale(1.1);
}



 #result{
  position: relative;
  margin-top: 2vh;
  margin-bottom: 2vh; 
  transition: transform .5s; 
  margin-right: 1vh;
 }
 
#result:hover{
  transform: scale(1.1);
}




.icons{
  margin-left: 1.9vw;
}






/* footer  */

/* footer layers 3 colors*/
 #footer {
  position:fixed;
  left:0px;
  bottom:0px; 
  height:20px;
  width:100%;
  background-color:  rgb(132,163,169);
margin-top: 2vh;

     }

    
    





     #footer3 {
      margin-top: 2vh;
      position:fixed;
      left:0px;
      bottom:30px; 
      height:10px;
      width:100%;
      background-color:  rgb(192,193,199);
      margin-top: 2vh;
         }
    
         #footer2 {
          position:fixed;
          left:0px;
          bottom:17px; 
          height:15px;
          width:100%;
          background-color:  rgb(172,193,199);
          margin-top: 2vh;

             } 



/*   text on circel   */


  #textover{
  position: relative;
  left: 31%;
  font-size:1em;
  top:6%;
 }


 #contactmail{
  position: relative;
  left: 14%;
  font-size:0.9em;
  top:10%;
 }
 






@-webkit-keyframes upDown {
  0%   { top: 0; }
  50% { top:10px; }
  100% { top:0; }
}
@-moz-keyframes upDown {
  0%   { top: 0; }
  50% { top:10px; }
  100% { top:0; }
}
@-o-keyframes upDown {
  0%   { top: 0; }
  50% { top:10px; }
  100% { top:0; }
}
@keyframes upDown {
  0%   { top: 0; }
  50% { top:10px; }
  100% { top:0; }
}


@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
